

$cor1: #e78c11;
$cor2: #9a5607;
$cor3: #f9efc1;
$cor4: #6f3c05;
$cor5: #f5c270;
$cor6: #fbdc81;
$cor7: #f2a743;
$cor8: #0d0404;
$cor9: #ce6505;

// $branco: #ffffff;
// $branco-active: #fefefe; 
// $branco-active__border: #fdfdfd;
