
$white: #FFFFFF;
$white_base: #F4F5F8;

$blue_base: #E5EDF4;
$blue_base__double: #C5D0E1;
$blue_base__triple: #95A3B7;
$blue_: #2870B2;

$grey_base: #646F80;
$grey_base__double: #4F5C6F;
$grey_base__triple: #3B495E;
$grey_dark: #496072;
$gray_soft: #F9F9F9;




