<div class="uk-container uk-padding">
  <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-hover uk-card-default uk-card-body">
        <a class="uk-link-heading" href="#modal-default" uk-toggle>Default</a>
        <div id="modal-default" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <p>
                Modal do Default
              </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <a class="uk-link-heading" href="#modal-primary" uk-toggle>Primary</a>
        <div id="modal-primary" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <p>
                Modal do Primary
              </p>
          </div>
        </div>
      </div>
    </div>  
    <div>
      <div class="uk-card uk-card-hover uk-card-secondary uk-card-body">
        <a class="uk-link-heading" href="#modal-secondary" uk-toggle>Secondary</a>
        <div id="modal-secondary" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <p>
                Modal do Secondary
              </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-background-muted uk-card-body">
        <a class="uk-link-heading" href="#modal-muted" uk-toggle>Muted</a>
        <div id="modal-muted" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <p>
                Modal do Muted
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>